
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>MAMBA</title>
  <link rel="icon" href="{% static 'theapp/images/me.png' %}">
  <link rel="stylesheet" href="{% static 'theapp/css/mamba.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
 
  <nav class="MainNav">
    <div class="DivBar">
      <div class="logo"><a href="#">MAMBA.</a></div>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#Favorites">Favorites</a></li>

        <li class="MoreOptions">
          <a href="#more">More</a>
          <ul class="DropOptions">
            <li><a href="{% url 'IgTrend' %}">Folders</a></li>
            <li><a href="{% url 'SearchPage' %}">Find Crew</a></li>
            <li><a href="{% url 'ORMTable' %}">ORM</a></li>
          </ul>
        </li>

        <li><a href="#contact">Contact</a></li>
      </ul>

  
      <div class="media-icons">
        <a href="https://www.facebook.com/ej.gonzales.37"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
   
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </nav>
  

  <section class="HomeSec" id="home">
      <div class="HomeSec-content">
        <div class="text">
          <div class="text-one">Hello,</div>
          <div class="text-two">I'm Eorico Gonzales</div>
          <div class="text-three">UI/UX Designer</div>
          <div class="text-four">From Philippines</div>
        </div>
      </div>
  </section>


    <section class="AboutSec" id="about">
      <div class="content">
        <div class="scroll-animation">
        <div class="title"><span>AUTHOR</span></div>
        <div class="AboutSec-details">
          <div class="left">
            <img src="{% static 'theapp/Images/ano.jpg' %}" alt="" />
          </div>
          <div class="right">
            <div class="topic">Eorico Aron Ej M. Gonzales</div>
            <p>
            Studying at the Technological University of the Philippines-Cavite Campus, I have developed a strong foundation in programming 
            , particularly in Python, Java, and Web Developning. Through rigorous coursework and hands-on project, I have honed my problem-solving skills especially my
            logical creativity with it comes in understanding of coding principles.  Python has sharpened my logical thinking, Java has strengthened my grasp of object-oriented programming,
              and web development has allowed me to create interactive and dynamic websites. Despite the challenges, my determination to succeed drives me forward. 
              I aspire to become both an educator and a skilled programmer, sharing my knowledge with future generations while continuously improving my own expertise. With
              perseverance and passion, I am committed to achieving my dreams and making a meaningful impact in the field of technology and education.
            </p>
            <div class="AboutButton">
              <button>RESUME</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>


  <section class="SkillsSec" id="skills">
    <div class="content">
    <div class="scroll-animation">
      <div class="title"><span>Programming Language Skills</span></div>
      <div class="SkillsSec-details">
        <div class="text">
          <div class="topic">Skills Reflects My Knowledge</div>
          <p>As a student, my programming skills are constantly improving as I continue to learn and grow. 
            While I have gained experience in Python, Java, and web development, I understand that the world of programming is vast and ever-evolving. 
            I am always eager to explore new languages and technologies, knowing that continuous learning is essential in this field. In the future, 
            I look forward to expanding my knowledge further, mastering additional programming languages, and refining my skills to become a more versatile and proficient developer.</p>
          <div class="experience">
            <div class="num">1</div>
            <div class="exp">
              Year Of <br />
              Experience
            </div>
          </div>
        </div>
        <div class="boxes">
          <div class="box">
            <div class="code1">HTML</div>
            <div class="per1">30%</div>
          </div>
          <div class="box">
            <div class="code2">CSS</div>
            <div class="per2">50%</div>
          </div>
          <div class="box">
            <div class="code3">JavScript</div>
            <div class="per3">50%</div>
          </div>
          <div class="box">
            <div class="code4">Python</div>
            <div class="per4">70%</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="FavoritesSec" id="Favorites">
    <div class="content">
    <div class="scroll-animation">
        <div class="title"><span>My Favorites</span></div>
        <div class="boxes">
            <div class="box artist" id="artistBox">
                <div class="icon">
                    <i class="fas fa-music"></i>
                </div>
                <div class="Fav">Artist</div>

            </div>
            <div class="box">
                  <div class="icon">
                      <i class="fas fa-film"></i>
                  </div>
                  <div class="Fav">Movie</div>

            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="Fav">Solving Math Problems</div>
        
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fab fa-android"></i>
                </div>
                <div class="Fav">Android Games</div>
              
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-motorcycle"></i>
                </div>
                <div class="Fav">Motorcyle</div>
               
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-tablet-alt"></i>
                </div>
                <div class="Fav">Back-End Programming</div>
           
            </div>
        </div>
      </div>
    </div>
</section>

<audio id="music" src="{% static 'theapp/music/postmalone.mp3' %}" hidden></audio>


  <section id="contact" class="ContactSec">
    <div class="container">
    <div class="scroll-animation">
        <div class="contact-wrapper">
            <div class="contact-form">
                <form id="contactForm">
                    <div class="input-group">
                        <input type="text" id="name" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-group">
                        <input type="email" id="email" required>
                        <label for="email">Email@</label>
                    </div>
                    <div class="input-group">
                        <textarea id="message" rows="4" required></textarea>
                        <label for="message">Message Me!</label>
                    </div>
                    <button type="submit" class="send-btn">Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</section>


  <footer>
    <div class="text">
      <span><a href="#home">MAMBA</a> | &#169; 2025 All Rights Reserved</span>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'theapp/js/mamba.js' %}"></script>
  <script src="{% static 'theapp/js/music.js' %}"></script>
  <script src="{% static 'theapp/js/contact.js' %}"></script>
  <script src="{% static 'theapp/js/ScrollAnimation.js' %}"></script>
</body>

</html>

<!--CodingNepal. (2024, September 17). Portfolio Website in HTML CSS & JavaScript | Free Source Code. CodingNepal. https://www.codingnepalweb.com/responsive-portfolio-website-using-html-css-javascript/-->
<!--Autoplay guide for media and Web Audio APIs - Media technologies on the web | MDN. (2025, February 3). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/Media/Autoplay_guide-->
<!--HTMLMediaElement: play() method - Web APIs | MDN. (2025, February 3). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/play-->
<!--CSS media queries - CSS: Cascading Style Sheets | MDN. (2025, February 14). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries-->
<!--Element: classList property - Web APIs | MDN. (2024, October 16). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/API/Element/classList-->

<!--Contributors, M. O. J. T. a. B. (n.d.). Get started with Bootstrap. https://getbootstrap.com/docs/5.3/getting-started/introduction/-->
<!--font-awesome - Libraries - cdnjs - The #1 free and open source CDN built to make life easier for developers. (n.d.). Cdnjs. https://cdnjs.com/libraries/font-awesome-->
<!--https://www.w3schools.com/css/css_rwd_intro.asp-->

<!--Bootstrap Navbar - free examples & tutorial. (n.d.). MDB - Material Design for Bootstrap. https://mdbootstrap.com/docs/standard/navigation/navbar/-->
<!--animation - CSS: Cascading Style Sheets | MDN. (2025, March 19). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/CSS/animation-->

<!--Element: scroll event - Web APIs | MDN. (2024, October 7). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/API/Element/scroll_event-->
<!--transition - CSS: Cascading Style Sheets | MDN. (2025, March 10). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/CSS/transition-->