{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'theapp/images1/me.png' %}">
    <title>KNOW ME WELL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theapp/css1/MSelf.css' %}">
</head>
<body class="insta">

 
    <nav class="navbarIG navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brandIG" href="{% url 'mamba' %}">
                <img src="{% static 'theapp/images1/vent.png' %}" class="static-img" >
                <img src="{% static 'theapp/images1/vent.gif' %}" class="animated-img" >
            </a>
            <div class="IGnavtitle">
                <h2 class="my-3 IG-title">KNOW ME WELL</h2>
            </div>
        </div>
    </nav>
    
<div class="container text-center">
    <div class="IGgrid-container">

        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/KOBE.gif' %}" alt="Hobbies">
            <div class="folder-label">Hobbies</div>
        </div>

        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/ball.webp' %}" alt="Ball">
            <div class="folder-label">Ball</div>
        </div>


        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/color.jpg' %}" alt="Color">
            <div class="folder-label">Color</div>
        </div>

      
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/season.jpg' %}" alt="Season">
            <div class="folder-label">Season</div>
        </div>

   
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/character.jpg' %}" alt="Character">
            <div class="folder-label">Character</div>
        </div>

       
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/dessert.jpg' %}" alt="Dessert">
            <div class="folder-label">Dessert</div>
        </div>

 
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/food.webp' %}" alt="Food">
            <div class="folder-label">Food</div>
        </div>

     
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/place.jpg' %}" alt="Place">
            <div class="folder-label">Place</div>
        </div>

 
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/time.jpg' %}" alt="Time of the Day">
            <div class="folder-label">Time of the Day</div>
        </div>
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/shours.jpg' %}" alt="Travel Vibes">
            <div class="folder-label">School hours</div>
        </div>
        
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/gvibes.jpg' %}" alt="Good Vibes Only">
            <div class="folder-label">Good Vibes Only</div>
        </div>
        
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/hidgem.jpg' %}" alt="Hidden Gems">
            <div class="folder-label">Hidden Gems</div>
        </div>
        
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/ghours.jpg' %}" alt="Golden Hour">
            <div class="folder-label">Golden Hour</div>
        </div>
        
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/hplace.jpg' %}" alt="My Happy Place">
            <div class="folder-label">My Happy Place</div>
        </div>
        
        <div class="folder" onclick="toggleFolder(this)">
            <img src="{% static 'theapp/images1/shighlights.jpg' %}" alt="Story Highlights">
            <div class="folder-label">Story Highlights</div>
        </div>
        
    </div>

</div>

 
<footer class="IG-footer">
    <div class="text">
      <span><a href="{% url 'mamba'%}">MAMBA</a> | &#169; 2025 All Rights Reserved</span>
    </div>
  </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'theapp/js1/Ig.js' %}"></script>

</body>
</html>

<!--REFERENCES - PICTURES -->
<!-- https://ftw.usatoday.com/ -->
<!-- https://www.icegif.com/basketball-60/ -->
<!-- https://ph.pinterest.com/pin/484911084849458385/ -->
<!-- https://au.pinterest.com/pin/5911043255257768/ -->
<!-- https://www.mashed.com/724828/the-real-reason-mcdonalds-ice-cream-tastes-so-good/ -->
<!-- https://www.angsarap.net/2014/07/23/nilagang-baka/#google_vignette -->
<!-- https://hiketomountains.com/peoples-park-in-the-sky/#google_vignette --> 
<!-- https://www.broadwayworld.com/san-francisco/article/THE-CURIOUS-INCIDENT-OF-THE-DOG-IN-THE-NIGHT-TIME-is-Coming-to-San-Francisco-Playhouse-20250313 -->

<!--REFERENCES - CODE -->
<!--Contributors, M. O. J. T. a. B. (n.d.-b). Navbar. https://getbootstrap.com/docs/5.3/components/navbar/-->
<!--Contributors, M. O. J. T. a. B. (n.d.-a). Modal. https://getbootstrap.com/docs/5.3/components/modal/-->
<!--Contributors, M. O. J. T. a. B. (n.d.-a). Grid system. https://getbootstrap.com/docs/5.3/layout/grid/-->
<!--CSS grid layout - CSS: Cascading Style Sheets | MDN. (2025, February 7). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout-->
<!--Graham, G. (2025, March 20). CSS-Tricks - a website about making websites. CSS-Tricks. https://css-tricks.com/-->
<!--W3Schools.com. (n.d.). https://www.w3schools.com/css/-->