{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ORM TABLE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theapp/css2/search.css' %}" />
    <link rel="icon" href="{% static 'theapp/images/me.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
</head>
<body class="SearchBody">
    
    <div class="floatingVent">
        <a href="{% url 'mamba' %}">
            <img src="{% static 'theapp/images2/vent.png' %}" alt="Vent Icon" />
        </a>
    </div>

    <div class="Content">
        <div class="search-container text-center">
            <h1 class="mb-3 text-danger">ORM TABLE</h1>
            <form method="GET" action="" class="d-flex justify-content-center align-items-center">
                
                <a href="{% url 'ORMTable' %}" class="btn btn-outline-secondary me-2">
                    <i class="fa-solid fa-table"></i>
                </a>

                <input type="text" name="q" class="form-control search-input me-2" placeholder="Crewmates..." required>

        
                <button type="submit" class="btn search-btn">Search</button>
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h4>Profile Results:</h4>
            <ul class="list-group">
                {% for color in results %}
                    <li class="list-group-item">
                        <div class="among-us-character" style="background-color: {{ color.RGB }}"></div>
                        <div>
                            <strong>ID:</strong> {{ color.UI_ID }} <br>
                            <strong>Name:</strong> {{ color.NAME }} <br>
                            <strong>RGB:</strong> {{ color.RGB }} <br>
                            <strong>Symbol:</strong> {{ color.SYMBOL }} <br>
                            <strong>Branding Usage:</strong> {{ color.USAGE_FOR_BRANDING }} <br>
                            <strong>Category:</strong> {{ color.CATEGORY }} <br>
                            <strong>Meaning:</strong> {{ color.MEANING|default:"N/A" }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% elif request.GET.q %}
        <div class="results-container">
            <h4 class="text-warning">No Crewmates results found for "{{ request.GET.q }}"</h4>
        </div>
        {% endif %}
    </div>

    <footer class="SearchFooter">
        <div class="text">
          <span><a href="{% url 'mamba'%}">MAMBA</a> | &#169; 2025 All Rights Reserved</span>
        </div>
      </footer>

</body>
</html>


<!--Clarke, A. (2025, March 21). Revisiting CSS border-image | CSS-Tricks. CSS-Tricks. https://css-tricks.com/revisiting-css-border-image/-->
<!--Contributors, M. O. J. T. a. B. (n.d.-a). Get started with Bootstrap. https://getbootstrap.com/docs/5.3/getting-started/introduction/-->
<!--Built-in template tags and filters | Django documentation. (n.d.). Django Project. https://docs.djangoproject.com/en/5.1/ref/templates/builtins/-->
<!--Built-in template tags and filters | Django documentation. (n.d.). Django Project. https://docs.djangoproject.com/en/5.1/ref/templates/builtins/s-->